- provide(:titulo, "Registro")
%h1 Registracion
.row
	.span6.offset3
		= form_for @usuario do |f|
			= render 'shared/errores_msg'
			= f.label :name, "Nombre"
			= f.text_field :name
			%br
			= f.label :email
			= f.text_field :email
			%br
			= f.label :password, "Password"
			= f.password_field :password
			%br
			= f.label :password_confirmation, "Confirmacion"
			= f.password_field :password_confirmation
			%br
			= f.submit "Crear cuenta", class: "btn btn-large btn-primary"
