- provide(:titulo, @usuario.name )
.row
	%aside.span4
		%section
			%h1
				= gravatar_for @usuario
				= @usuario.name
	.span8
		- if @usuario.tuits.any?
			%h3
				= @usuario.tuits.count
				Tuits
			%ol.microposts
				= render @tuits	
			= will_paginate @tuits		